#toasts {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }
  
  toast-message {
    animation: toast-fadeIn 0.25s forwards;
    background-color: rgba(0, 0, 0, 0.75);
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 0.15rem;
    margin-bottom: 1rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.2);
  }
  
  toast-message[closing] {
    animation: toast-fadeOut 0.25s forwards;
  }
  
  @keyframes toast-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes toast-fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  